<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirstTimeRunning</key>
	<true/>
	<key>LoginItemStatus</key>
	<false/>
	<key>SnoozeTime</key>
	<integer>540</integer>
	<key>IdlePauseTime</key>
	<integer>300</integer>
	<key>SitStateInterval</key>
	<integer>3600</integer>
	<key>StandStateInterval</key>
	<integer>1800</integer>
	<key>StandAlert</key>
	<dict>
		<key>Volume</key>
		<integer>1</integer>
		<key>SoundFile</key>
		<string>Stand</string>
	</dict>
	<key>SitAlert</key>
	<dict>
		<key>Volume</key>
		<integer>1</integer>
		<key>SoundFile</key>
		<string>Sit</string>
	</dict>
	<key>Presets</key>
	<dict>
		<key>Beginner</key>
		<dict>
			<key>StandStateInterval</key>
			<real>1800</real>
			<key>SitStateInterval</key>
			<real>3600</real>
		</dict>
		<key>Intermediate</key>
		<dict>
			<key>StandStateInterval</key>
			<real>3600</real>
			<key>SitStateInterval</key>
			<real>3600</real>
		</dict>
		<key>Hard</key>
		<dict>
			<key>StandStateInterval</key>
			<real>7200</real>
			<key>SitStateInterval</key>
			<real>1800</real>
		</dict>
		<key>Expert</key>
		<dict>
			<key>StandStateInterval</key>
			<real>10800</real>
			<key>SitStateInterval</key>
			<real>1800</real>
		</dict>
		<key>All Day</key>
		<dict>
			<key>StandStateInterval</key>
			<real>14440</real>
			<key>SitStateInterval</key>
			<real>1800</real>
		</dict>
	</dict>
</dict>
</plist>
