<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FirstTimeRunning</key>
	<true/>
	<key>LoginItemStatus</key>
	<false/>
	<key>SnoozeTime</key>
	<integer>300</integer>
	<key>IdlePauseTime</key>
	<integer>600</integer>
	<key>SitStateInterval</key>
	<integer>900</integer>
	<key>StandStateInterval</key>
	<integer>900</integer>
	<key>StandAlert</key>
	<dict>
		<key>Volume</key>
		<real>0.5</real>
		<key>SoundFile</key>
		<string></string>
	</dict>
	<key>SitAlert</key>
	<dict>
		<key>Volume</key>
		<integer>1</integer>
		<key>SoundFile</key>
		<string></string>
	</dict>
</dict>
</plist>
